[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-octopress"]
	path = themes/hugo-octopress
	url = git@github.com:parsiya/hugo-octopress.git
[submodule "themes/hugo-theme-dream"]
    path = themes/hugo-theme-dream
    url = git@github.com:Darthagnon/hugo-theme-dream.git