[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-octopress"]
	path = themes/hugo-octopress
	url = git@github.com:parsiya/hugo-octopress.git
[submodule "public"]
	path = public
	url = git@github.com:jiaxuyang/jiaxuyang.github.io.git
	branch = master
